# Employees earning more than their managers

Table: Employee


| Column Name | Type    |
|-------------|---------|
| id          | int     |
| name        | varchar |
| salary      | int     |
| managerId   | int     |


    id is the primary key column for this table.
    Each row of this table indicates the ID of an employee, their name, salary, and the ID of their manager.
    

    Write an SQL query to find the employees who earn more than their managers.

    Return the result table in any order.

    The query result format is in the following example.

# Combine Two Tables

Table: Person


| Column Name | Type    |
|-------------|---------|
| personId    | int     |
| lastName    | varchar |
| firstName   | varchar |

    personId is the primary key column for this table.
    This table contains information about the ID of some persons and their first and last names.
 

Table: Address


| Column Name | Type    |
|-------------|---------|
| addressId   | int     |
| personId    | int     |
| city        | varchar |
| state       | varchar |

    addressId is the primary key column for this table.
    Each row of this table contains information about the city and state of one person with ID = PersonId.
    

    Write an SQL query to report the first name, last name, city, and state of each person in the Person table. If the address of a personId is not present in the Address table, report null instead.

    Return the result table in any order.

    The query result format is in the following example.

# Duplicate Emails

Table: Person


| Column Name | Type    |
|-------------|---------|
| id          | int     |
| email       | varchar |


    id is the primary key column for this table.
    Each row of this table contains an email. The emails will not contain uppercase letters.
    

    Write an SQL query to report all the duplicate emails.

    Return the result table in any order.

    The query result format is in the following example.

**My Solution**:

<code>select email<br>
from Person<br>
group by email<br>
having count(*) > 1;</code><br>

**Use self join:**

<code>SELECT DISTINCT a.<br>
 FROM Person a JOIN Person b<br>
 ON (a.Email = b.Email)<br>
 WHERE a.Id <> b.Id</code><br>

**Use subquery with EXISTS:**

<code>SELECT DISTINCT a.Email<br>
 FROM Person a<br>
 WHERE EXISTS(<br>
     SELECT 1<br>
     FROM Person b<br>
     WHERE a.Email = b.Email<br>
     LIMIT 1, 1<br>
 )</code><br>

**Basic idea is this query:**

<code> SELECT DISTINCT Email FROM Person<br>
 MINUS<br>
 (SELECT Id, Email FROM Person GROUP BY Email)</code><br>

But since MySQL does not support MINUS, we use **LEFT JOIN**:

<code>SELECT DISTINCT a.Email FROM Person a<br>
 LEFT JOIN (SELECT Id, Email from Person GROUP BY Email) b<br>
 ON (a.email = b.email) AND (a.Id = b.Id)<br>
 WHERE b.Email IS NULL</code>

# Customers who never order

**Table: Customers**

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| name        | varchar |

    id is the primary key column for this table.
    Each row of this table indicates the ID and name of a customer.
 

**Table: Orders**


| Column Name | Type |
|-------------|------|
| id          | int  |
| customerId  | int  |


    id is the primary key column for this table.
    customerId is a foreign key of the ID from the Customers table.
    Each row of this table indicates the ID of an order and the ID of the customer who ordered it.
    

    Write an SQL query to report all customers who never order anything.

    Return the result table in any order.

    The query result format is in the following example.

# Game Play Analysis I

**Table: Activity**


| Column Name  | Type    |
|--------------|---------|
| player_id    | int     |
| device_id    | int     |
| event_date   | date    |
| games_played | int     |

(player_id, event_date) is the primary key of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.
 

    Write an SQL query to report the first login date for each player.

    Return the result table in any order.

    The query result format is in the following example.